@page
@model CarRenting.Client.Pages.Admin2.Customer.CreateModel
@{
    ViewData["Title"] = "Create";
    string JWTToken = HttpContext.Session.GetString("JWToken");
    var api = Constants.Api + "Customer";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group mt-2">
            <input type="text" class="form-control" id="CustomerId" hidden />
        </div>
        <div class="form-group mt-2">
            <label for="CustomerName">Name</label>
            <input type="text" class="form-control" id="CustomerName" required />
            <span id="CustomerName-error" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <label for="Telephone">Telephone</label>
            <input type="text" class="form-control" id="Telephone" required />
            <span id="Telephone-error" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="Email" required />
            <span id="Email-error" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <label for="CustomerBirthday">Customer Birthday</label>
            <input type="date" class="form-control" id="CustomerBirthday" required />
            <span id="CustomerBirthday-error" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <label for="CustomerStatus">Customer Status</label>
            <input type="number" class="form-control" id="CustomerStatus" required />
            <span id="CustomerStatus-error" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="Password" required />
            <span id="Password-error" class="text-danger"></span>
        </div>
        <div class="form-group mt-4">
            <button id="CreateButton" class="btn btn-primary w-100">Create</button>
        </div>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            var maxDate = new Date();
            maxDate.setFullYear(maxDate.getFullYear() - 18);
            var maxDateFormatted = maxDate.toISOString().split('T')[0];
            $("#CustomerBirthday").attr("max", maxDateFormatted);

            function formValidation() {
                var isValid = true;
                if ($("#CustomerName").val().trim() == "") {
                    $("#CustomerName-error").html("Name is required");
                    isValid = false;
                } else {
                    $("#CustomerName-error").html("");
                }

                if ($("#Telephone").val().trim() == "") {
                    $("#Telephone-error").html("Telephone is required");
                    isValid = false;
                } else {
                    $("#Telephone-error").html("");
                }

                if ($("#Email").val().trim() == "") {
                    $("#Email-error").html("Email is required");
                    isValid = false;
                } else {
                    $("#Email-error").html("");
                }

                if ($("#CustomerBirthday").val() == "") {
                    $("#CustomerBirthday-error").html("Customer Birthday is required");
                    isValid = false;
                } else {
                    $("#CustomerBirthday-error").html("");
                }

                if ($("#Password").val() == "") {
                    $("#Password-error").html("Password is required");
                    isValid = false;
                } else {
                    $("#Password-error").html("");
                }

                if ($("#CustomerStatus").val() == "") {
                    $("#CustomerStatus-error").html("Customer Status is required");
                    isValid = false;
                } else {
                    $("#CustomerStatus-error").html("");
                }

                return isValid;
            }

            $("#CreateButton").click(function () {
                if (!formValidation()) {
                    return;
                }

                $.ajax({
                    url: "@api",
                    type: "POST",
                    data: JSON.stringify({
                        "customerName": $("#CustomerName").val(),
                        "telephone": $("#Telephone").val(),
                        "email": $("#Email").val(),
                        "customerBirthday": $("#CustomerBirthday").val(),
                        "password": $("#Password").val(),
                        "customerStatus": $("#CustomerStatus").val(),
                    }),
                    contentType: "application/json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Bearer " + "@JWTToken");
                    },
                    success: function (result, status, xhr) {
                        window.location.href = "./Index";
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr);
                        if (xhr.status == 400) {
                            $("#Email-error").html("Email already exists");
                        }
                    }
                });
            });
        });
    </script>
}
