@page
@model CarRenting.Client.Pages.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>Customer</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.CustomerName" class="control-label"></label>
                <input asp-for="Customer.CustomerName" class="form-control" required/>
                <span asp-validation-for="Customer.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Email" class="control-label"></label>
                <input asp-for="Customer.Email" class="form-control" required />
                <span asp-validation-for="Customer.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Password" class="control-label"></label>
                <input asp-for="Customer.Password" type="password" class="form-control" required />
                <span asp-validation-for="Customer.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Mobile" class="control-label"></label>
                <input asp-for="Customer.Mobile" class="form-control" required />
                <span asp-validation-for="Customer.Mobile" class="text-danger"></span>
            </div>
    
            <div class="form-group">
                @{
                    var today = DateTime.Today;
                }
                <label asp-for="Customer.Birthday" class="control-label"></label>
                <input asp-for="Customer.Birthday" class="form-control" max="@DateTime.Today.ToString("yyyy-MM-dd")" required />
                <span asp-validation-for="Customer.Birthday" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Customer.IdentityCard" class="control-label"></label>
                <input asp-for="Customer.IdentityCard" class="form-control" required />
                <span asp-validation-for="Customer.IdentityCard" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Customer.LicenceNumber" class="control-label"></label>
                <input asp-for="Customer.LicenceNumber" class="form-control" required />
                <span asp-validation-for="Customer.LicenceNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Customer.LicenceDate" class="control-label"></label>
                <input asp-for="Customer.LicenceDate" class="form-control" max="@DateTime.Today.ToString("yyyy-MM-dd")" required />
                <span asp-validation-for="Customer.LicenceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Login">Back to Login</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}